# Ignore backup and temporary files
documentation/*.drawio.bkp
documentation/*.drawio.dtmp

cli/wdtk

test/

# Ignore everything except the utility script and template dockerfile
bin

# Remove MacOs specific files
.DS_Store

.docker/
