go 1.20

// CLI
use ./cli

// Services
use ./gomods/services/gateway
use ./gomods/services/locator

// Frameworks
use ./gomods/api/balancer-api
use ./gomods/api/microservice-api
use ./gomods/api/common-api
