go 1.20

// Base
use ./gomods/gateway
use ./gomods/coordinator
use ./gomods/coordinator-api
use ./gomods/balancer-api
use ./gomods/microservice-api
use ./gomods/common-api

// Balancers
use ./gomods/balancers/OneToOne
