go 1.20

// Services
use ./gomods/gateway
use ./gomods/coordinator
use ./gomods/admin

// Frameworks
use ./gomods/coordinator-api
use ./gomods/balancer-api
use ./gomods/microservice-api
use ./gomods/common-api
